#work {
    .card-top {
        background-color: $light-red-work;
    }
}

#play {
    .card-top {
        background-color: $soft-blue-play;
    }
}

#study {
    .card-top {
        background-color: $light-red-study;
    }
}

#exercise {
    .card-top {
        background-color: $lime-green-exercise;
    }
}

#social {
    .card-top {
        background-color: $violet-social;
    }
}

#self-care {
    .card-top {
        background-color: $soft-orange-self-care;
    }
}