html {
  font-size: 18px;
}

body {
  font-family: 'Rubik', sans-serif;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
}

.row {
  display: flex;
  flex-direction: column;

  &--mobile {
    display: flex;
    flex-direction: row;
  }

  @media(min-width: 900px) {
    flex-direction: row;
  }
}