html {
  font-size: 18px;
}

body {
  background-color: $very-dark-blue;
  font-family: 'Rubik', sans-serif;
}

.container {
  margin: 0 auto;
  width: 85%;
  max-width: 1200px;

  @media(min-width:900px) {
    transform: translateY(25%);

    // @media (display-mode:fullscreen) {
    //   transform: translateY(40%);
    // }
  }

}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 0 1.5em;
}

.col-right {
  width: 100%;

  @media (min-width:900px) {
    width: 70%;
  }
}

.row {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  align-items: center;
  justify-content: center;

  &--mobile {
    display: flex;
    flex-direction: row;
  }

  @media(min-width: 900px) {
    flex-direction: row;
  }
}